:root {
  --main-blue: #005b96;
  --dark-blue: #001f96;
  --black-blue: #000e16;
  --light-blue: #008feb;
}
body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin: 0%;
  background-image: linear-gradient(
    45deg,
    #005b96 0%,
    #001f96 25%,
    #000e16 50%,
    #001f96 75%,
    #008feb 100%
  );
  background-repeat: no-repeat;
  color: white;
}
.e {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.e .l {
  text-decoration: none;
  color: white;
}
.e .l:hover {
  color: rgb(180, 180, 180);
}
nav {
  background: rgba(255, 255, 255, 0.198);
}
.nvd-color {
  color: rgba(124, 124, 124, 0.568);
}
.link-list {
  list-style: none;
  text-decoration: none;
  color: white;
}
.link-list:hover {
  color: rgb(104, 104, 104);
}
.navbar-list {
  display: flex;
  justify-content: center;
  height: 70px;
}
.navbar-page {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
}
.navbar-page:hover {
  font-size: 26px;
  color: rgb(104, 104, 104);
}
.main-container {
  display: grid;
  grid-template-areas:
    'pre'
    'post'
    'footer';
  grid-template-rows: auto auto 50px;
  grid-template-columns: auto;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer h1 {
  font-size: 24px;
}
.mid-text {
  width: 100%;
  height: 100%;
}
.pre {
  width: 100%;
  grid-area: pre;
}
.pre-container {
  display: flex;
  justify-content: center;
}
.pre-content-text {
  color: white;
  text-align: center;
  margin-top: 10%;
  width: 100%;
  font-size: 3vw;
}
@media (max-width: 700px) {
  .pre-content-text {
    color: white;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    font-size: 5vw;
  }
}
.pre-content-container {
  width: 50%;
}
.demo a {
  margin-top: 200px;
  bottom: 20px;
  left: 49%;
  z-index: 2;
  display: flex;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  justify-content: center;
}
.demo a:hover {
  opacity: 0.5;
}
#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.post {
  margin-top: 50px;
  grid-area: post;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.post-blured {
  margin-top: -0.5%;
  width: 90vw;
  height: 100%;
  background-color: black;
  border-radius: 25px;
}
.carousel-margin {
  margin-top: 10%;
}
.carousel-img {
  height: 400px;
  width: 100%;
}
.post-container {
  width: 100%;
}
.post-title {
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.post-cards {
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.post-card {
  width: 18rem;
  margin: 20px 40px;
  color: black;
}
//SOCIALMEDIA
.social-media {
  margin-top: 10%;
  margin-left: -2%;
  display: flex;
  justify-content: center;
}
.socialmedia-list {
  position: relative;
  display: flex;
}
.socialmedia-list li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.socialmedia-list li a {
  text-decoration: none;
}
.socialmedia-list li a .fa-brands {
  font-size: 4em;
  color: #222;
}
.socialmedia-list li a::before {
  font-family: 'FontAwesome';
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 4em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.socialmedia-list li:nth-child(1) a::before {
  content: '\f08c';
  color: #0e76a8;
  border-bottom: 4px solid #0e76a8;
}
.socialmedia-list li:nth-child(2) a::before {
  content: '\f1b4';
  color: #053eff;
  border-bottom: 4px solid #053eff;
}
.socialmedia-list li:nth-child(3) a::before {
  content: '\f09b';
  color: #6e5494;
  border-bottom: 4px solid #6e5494;
}
.socialmedia-list li:hover a::before {
  height: 140%;
}
//SOCIALMEDIA
//CV
@media (max-width: 730px) {
  .cv-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .cv-photo {
    margin-top: 30px;
  }

  .cv-list {
    margin-top: 20px;
    list-style: square;
  }
  .cv-title {
    margin-top: 20px;
    text-align: center;
  }
  .cv-sub {
    margin-top: 25px;
  }
  .cv-tech-title {
    margin-top: 50px;
    text-align: center;
  }
  .cv-tech-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .cvtech {
    margin: 40px 40px;
    text-align: center;
    transition: all 200ms;
    position: relative;
  }
  .cvtech:hover {
    transform: scale(1.15);
  }
  .cvtech-img {
    border-radius: 50%;
  }
  .cvtech-text {
    margin-top: 10px;
  }
}
.cv-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.cv-photo {
  margin-top: 30px;
}
.cv-content {
  margin-left: 20px;
}
.cv-list {
  margin-top: 20px;
  list-style: square;
}
.cv-title {
  margin-top: 20px;
  text-align: center;
}
.cv-sub {
  margin-top: 25px;
}
.cv-sub-list {
  margin-left: 10px;
}
.cv-tech-title {
  margin-top: 50px;
  text-align: center;
}
.cv-tech-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.cvtech {
  margin: 40px 40px;
  text-align: center;
  transition: all 200ms;
  position: relative;
}
.cvtech:hover {
  transform: scale(1.15);
}
.cvtech-img {
  border-radius: 50%;
}
.cvtech-text {
  margin-top: 10px;
}
////////CV
